<%- include layout/header %>
<div class="row justify-content-center">
  <div class="col-5">
    <h3 style="color:red"><%= error %></h3>
    <img src="/images/ADAPOS_SIMPLE.png" class="img-responsive">
  </div>
</div>
<%- include layout/footer %>
